<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All venues</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>All venues</h1>
    
	  <form th:action="@{/venues/searchVenues}">
        Search venue: <input type="text" name="name" id="name" size="40" th:value="${name}" required />
        <input type="submit" class="btn btn-primary mr-sm-2" value="Find Venue"/>
        <input type="submit" class="btn btn-secondary" value="Reset" onclick="resetSearch()"/>
    </form>

    <script>
        function resetSearch(){
        	document.getElementById("name").value = "";
            window.location = "[[@{/venues}]]";
        }
    </script>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Venue Name</th>
          <th><i class="fas fa-map-marker-alt"></i> Address</th>
          <th><i class="fas fa-warehouse"></i> Capacity</th>
          <th sec:authorize="isAuthenticated()"><i class="fas fa-pencil-alt"></i> Update</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="v : ${venues}">
          <td><a th:text="${v.name}" class="badge badge-secondary" th:href="@{/venues/{id}(id=${v.id})}">Venue Name</a></td>
          <td th:text="${v.address}">Venue Address</td>
          <td th:text="${v.capacity}">Venue Capacity</td>
          <td sec:authorize="isAuthenticated()">
			<a th:href="@{/venues/edit/{id}(id=${v.id})}" class = "btn btn-info btn-sm">Update</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <a sec:authorize="isAuthenticated()" class="btn btn-primary" role="button" th:href="@{/venues/add_venue}"><i class="fa fa-plus" aria-hidden="true"></i> Add a new venue</a>
      <a  class="btn btn-primary" role="button" th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    </p>
  </div>

</body>
</html>